body{
    font-family: sans-serif; 
}

.tittle{
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
    background: linear-gradient(to top left, #166ea1, #063550);
    color: white;
}

.tittle-two{
    font-family: sans-serif;
    font-size: 30px;

}

.button-add{
    font-family: sans-serif;
    position: relative;
    margin-left: 90%;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid;
    background: linear-gradient(to top left, #166ea1, #063550);
    font-weight: 600;
    color: white;
}

.table-id{
    background-color: black;
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 18px;

}

.table-registers{
    text-align: center;
}

.content{
    font-family: sans-serif;
    width: 100%;
    border: 1px solid;
}


.close-dialog{
    font-family: sans-serif;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid;
    background: linear-gradient(to top left, #166ea1, #063550);
    font-weight: 600;
    color: white;
}

.dialog-text{
    font-family: sans-serif;
}

.dialog-input{
    border-radius: 5px;
    border: 1px solid;
}

.add-dialog{
    font-family: sans-serif;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid;
    background: linear-gradient(to top left, #0b5e00, #15a702);
    font-weight: 600;
    color: rgb(255, 255, 255); 
}


.button-modify{
    font-family: sans-serif;
    width: 75px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid;
    background: linear-gradient(to top left, #166ea1, #063550);
    font-weight: 600;
    color: rgb(255, 255, 255); 
}


.button-delete{
    font-family: sans-serif;
    width: 75px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid;
    background: linear-gradient(to top left, #c00101, #9c0000);
    font-weight: 600;
    color: rgb(255, 255, 255); 
}

.table-no-registers{
    background-color: black;
    color: white;
    font-size: 20px;
}